@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-grid-pattern {
    background-color: #D2D2D2;
    background-image: 
      repeating-linear-gradient(to right, transparent 0 100px, #25283b22 100px 101px),
      repeating-linear-gradient(to bottom, transparent 0 100px, #25283b22 100px 101px);
  }
  
  .bg-svg-pattern {
    background-image: url('/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed; /* Optional parallax effect */
  }